:root {
  --heading-font-family: "Open Sans", sans-serif;
  --default-font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --primary-color: #2f3c4f;
  --secondary-color: #506f86;
  --tertiary-color: #cadee8;
  --accent-color: #fbcb35;
  --default-transition: all 150ms ease-in-out;
}

body {
  font-family: var(--default-font-family);
  color: var(--primary-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 48px;
}

h5 {
  font-size: 36px;
  font-weight: 600;
}

h6 {
  font-size: 22px;
  font-weight: 600;
}

.hero {
  /*position: relative;
  display: flex;
  justify-content: center;*/
  padding: 150px 20px;
  background-image: url(/images/hero-background.jpg);
  background-size: cover;
}

/*disabled code is for opacity on background image*/
/*.hero:before {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}*/

.hero .presentation {
  /*position: relative;
  opacity: 1;*/
  display: block;
  margin: 0 auto;
}

.navbar-custom {
  background-color: var(--secondary-color);
  padding: 0px;
}

.navbar-custom .nav-link,
.media-icons {
  color: white;
  transition: var(--default-transition);
}

.navbar-custom .nav-link:hover,
.media-icons:hover {
  color: var(--accent-color);
}

.navbar-custom .active {
  color: var(--accent-color) !important;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.navbar-custom .navbar-brand {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 26px;
}

.navbar-custom .media-icons {
  line-height: 2;
}

.section-images {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}

.card-custom {
  border: none;
  box-shadow: var(--box-shadow);
}

.card-custom .card-body {
  color: var(--primary-color);
}

.navigation-cards {
  background: #cadee8;
  padding: 100px 50px;
}

.btn {
  background: var(--secondary-color);
  border: var(--secondary-color);
  color: white;
  font-size: 15px;
  transition: var(--default-transition);
}

.navigation-cards .btn {
  padding: 10px 20px;
}

.send-message .btn {
  padding: 8px 20px;
}

.btn:hover {
  color: var(--primary-color);
  background: var(--accent-color);
}

.certification-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin-bottom: 20px;
}

.certification-gallery img {
  border-radius: 10px;
  height: 100%;
  transition: var(--default-transition);
}

.certification-gallery img:hover {
  transform: scale(2);
}

.skills-content {
  padding: 10px;
  margin: 5px;
  background: var(--accent-color);
  border-radius: 5px;
}

.images-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.bg-custom {
  background: var(--tertiary-color);
  box-shadow: var(--box-shadow);
}

.contact-form-custom {
  width: 80%;
  display: flex;
  margin: auto;
}

footer {
  background: var(--secondary-color);
  padding: 50px 0 20px 0;
}

footer .media-icons {
  padding: 18px 11px;
  margin: 0 10px;
}

.footer-signature {
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
}

.footer-signature a {
  color: white;
  text-decoration: none;
  transition: var(--default-transition);
}

.footer-signature a:hover,
.index-page-footer .footer-signature a:hover {
  color: var(--accent-color);
}

.index-page-footer {
  background-image: url(/images/hero-background2.jpg);
  background-size: cover;
}

.index-page-footer .media-icons {
  background: var(--secondary-color);
}

.index-page-footer .footer-signature,
.index-page-footer .footer-signature a {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .hero,
  .navigation-cards {
    padding: 30px 12px;
    height: 100%;
  }

  .content-container {
    text-align: center;
  }

  .content-container h2 {
    margin-bottom: 25px !important;
  }

  .content-container .description,
  .content-container .skills-and-certifications {
    padding: 0 30px !important;
  }

  .content-container .certification-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-form-custom {
    width: 100%;
    padding: 10px 20px !important;
  }
}
