:root {
  --heading-font-family: "Open Sans", sans-serif;
  --default-font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --primary-color: #2f3c4f;
  --secondary-color: #506f86;
  --tertiary-color: #cadee8;
  --accent-color: #fbcb35;
  --default-transition: all 150ms ease-in-out;
}

body {
  font-family: var(--default-font-family);
  color: var(--primary-color) !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
}

.navbar-custom {
  background-color: var(--secondary-color);
  padding: 0px;
}

nav .navbar-brand {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 26px;
}

nav .nav-link,
nav .media-icons {
  color: white;
  transition: var(--default-transition);
  line-height: 2;
}

nav .nav-link:hover,
nav .media-icons:hover {
  color: var(--accent-color);
}

nav .active {
  color: var(--accent-color) !important;
  text-decoration: underline;
  text-underline-offset: 4px;
}

header {
  background-image: url(/images/header_v3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 180px;
  text-align: center;
  color: var(--primary-color);
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}

header h2 {
  font-weight: 400;
  font-size: 34px;
  line-height: 1.5;
  margin: 0;
}

header a {
  background: var(--accent-color);
  color: var(--primary-color);
  display: inline-block;
  margin-top: 32px;
  text-decoration: none;
  padding: 13px 28px;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  border-radius: 5px;
  transition: var(--default-transition);
}

header a:hover {
  background: var(--primary-color);
  color: white;
}

main {
  background: #cadee8;
  padding: 135px 50px;
}

main h3 {
  font-size: 36px;
  font-weight: 600;
}

main .card-custom {
  border: none;
  box-shadow: var(--box-shadow);
}

main .card-body {
  color: var(--primary-color);
}

main .section-images {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}

main .btn {
  padding: 10px 20px;
  background: var(--secondary-color);
  border: var(--secondary-color);
  color: white;
  font-size: 15px;
  transition: var(--default-transition);
}

main .btn:hover {
  color: var(--primary-color);
  background: var(--accent-color);
}

section h2 {
  font-size: 48px;
}

section .skills-content {
  padding: 10px;
  margin: 5px;
  background: var(--accent-color);
  border-radius: 5px;
}

section .project h5 {
  font-weight: 600;
}

section .project .images-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: var(--tertiary-color);
  box-shadow: var(--box-shadow);
  transition: all 150ms ease-in-out;
}

section .project .images-content:hover {
  opacity: 0.7;
  transform: scale(1.05);
}

.boogie-video {
  width: 100%;
  aspect-ratio: 21/9;
}

.carousel {
  border-radius: 10px;
  background: var(--tertiary-color);
  box-shadow: var(--box-shadow);
  padding: 20px 50px;
  margin-bottom: 30px;
  position: relative;
}

.carousel .carousel-control-prev {
  color: var(--primary-color);
  position: absolute;
  left: -70px;
}

.carousel .carousel-control-next {
  color: var(--primary-color);
  position: absolute;
  right: -70px;
}

.contact-form-custom {
  width: 80%;
  display: flex;
  margin: auto;
  background: var(--tertiary-color);
  box-shadow: var(--box-shadow);
}

form .btn {
  padding: 8px 20px;
  background: var(--secondary-color);
  border: var(--secondary-color);
  color: white;
  font-size: 15px;
  transition: var(--default-transition);
}

form .btn:hover {
  color: var(--primary-color);
  background: var(--accent-color);
}

footer {
  background: var(--secondary-color);
  padding: 50px 0 20px 0;
}

footer .media-icons {
  padding: 18px 11px;
  margin: 0 10px;
  color: white;
  background: var(--secondary-color);
  transition: var(--default-transition);
}

footer .media-icons:hover {
  color: var(--accent-color);
}

footer .footer-signature {
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
}

footer .footer-signature a {
  color: white;
  text-decoration: none;
  transition: var(--default-transition);
}

footer .footer-signature a:hover {
  color: var(--accent-color);
}

.index-page-footer {
  background-image: url(/images/header_v3.png);
  background-size: cover;
}

.index-page-footer .footer-signature,
.index-page-footer .footer-signature a {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  header,
  main {
    padding: 30px 12px;
    height: 100%;
  }

  .content-container .description {
    text-align: center;
  }

  .content-container h2 {
    margin-bottom: 25px !important;
  }

  .contact-form-custom {
    width: 100%;
    padding: 10px 20px !important;
  }
}

@media (max-width: 1200px) {
  section .skills {
    margin-top: 20px;
  }
}
/*regler le footer en bas de page (contact.html / selon viewport) et faire media queries pour le Galaxy Fold (voir Slack)*/
